html {
    box-sizing: border-box;
    background-color: $primary-color;
    scroll-behavior: smooth;
    font-size: calc(13px + 0.5vw);
    color: white;
    border: 6px solid $secundary-color;
    overflow: auto;
}

.pink-letter {
    display: inline-block;
}

.pink-letter::first-letter {
    color: $secundary-color;
}


.hello-div-parent {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;


    #my-pic {

        display: inline-block;
        object-fit: cover;
        width: 7em;
        height: 7em;
        border-radius: 50%;
        border: 5px dotted $secundary-color;
        margin-top: 5em;

    }

    .hello-div-child {

        h1,
        h2 {
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
        }

        h1 {

            margin-bottom: 25px;
            font-family: "League Spartan", sans-serif;
        }


        h2 {
            font-family: "Merriweather Sans", sans-serif;
        }
    }


}



.link-sec {
    /* position: relative; */
    font-family: "Hind Madurai", sans-serif;

    .container {
        width: 100vw;
        margin: 0 auto;
        padding: 20px;
        max-width: 60vw;
        line-height: 1.5;
        text-align: center;

    }

    h3 {
        padding: 25px 0;
        letter-spacing: 1px;
    }

    #check {
        display: none;


        &:checked~.content {
            display: block;
        }

        &:checked~label {
            display: none;
        }
    }

    #check2 {
        display: none;


        &:checked~.content {
            display: block;
        }

        &:checked~label {
            display: none;
        }
    }


    #check3 {

        display: none;


        &:checked~.content {
            display: block;
        }

        &:checked~label {
            display: none;
        }
    }



    .content {
        display: none;
        transition: 0.5s linear;

    }

    label {
        display: inline-block;
        margin-top: 1em;
        color: $secundary-color;
        cursor: pointer;
        font-weight: 600;
        font-size: .8rem;
        padding: .5em;
        border: 2px solid $secundary-color;
        border-radius: 20px;
    }


}




@media (min-width: 488px) and (max-width: 1467px) {

    .hello-div-parent {
        display: flex;
        justify-content: center;
        align-items: center;

        #my-pic {
            width: 13em;
            height: 13em;
        }


    }
}



@media (min-width: 1468px) {

    .hello-div-parent {
        height: 100vh;
        margin-top: 100px;
        display: flex;
        gap: 2em;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;


        #my-pic {


            width: 13em;
            height: 13em;

            margin-top: 0;
            margin-bottom: 280px;
            margin-right: 200px;

        }

        .hello-div-child {
            // position: absolute;
            // bottom: 300px;
            // left: 250px;
            margin-left: 150px;

            h1 {

                font-size: 3rem;
                margin-top: 100px;
                font-family: "Montserrat", sans-serif;
                text-align: center;
            }
        }
    }

    .link-sec {



        .container {

            text-align: start;

            &:nth-child(odd) {
                float: right;
                clear: right;
                margin-right: 2em;

            }

            &:nth-child(even) {
                float: left;
                clear: left;
                margin-left: 2em;
            }


        }
    }
}