#hire {
    clear: both;
    text-align: center;
    width: 100vw;
    margin: 0 auto;
    padding: 20px;
    max-width: 60vw;
    line-height: 1.5;
    text-align: center;
    font-family: "Hind Madurai", sans-serif;
    position: relative;

    p {
        margin-bottom: 2em;
        margin-left: .5em;
    }

    img {
        width: 50px;
        padding: 3px;
    }

    div[data-tool-tip] {
        // position: relative;
    }

    div[data-tool-tip]::before {
        content: attr(data-tool-tip);
        display: block;
        position: absolute;
        background-color: var(--pink-color);
        padding: 1em 2em;
        color: $secundary-color;
        font-family: "League Spartan", sans-serif;
        font-weight: 700;
        // text-shadow: 1px 1px 8px rgb(66, 11, 66);
        // box-shadow: 1px 1px 5px hsl(305, 96%, 22%),
        //     1px 1px 10px 2px hsl(305, 65%, 83%);
        // border-radius: 5px;
        font-size: 0.8em;
        top: 85px;
        left: 500px;
        transform: scale(0);
        transition: transform ease-out 550ms, bottom ease-out 550ms;
    }

    div[data-tool-tip]:hover::before {
        transform: scale(1);
        bottom: 100%;
    }

    .social-links img {

        margin: 0 auto;
    }





}